header .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; }
  header .flex-container .navbar {
    list-style: none; }
    header .flex-container .navbar .flex-container {
      display: flex;
      gap: 100px; }
      header .flex-container .navbar .flex-container .navbar li a {
        text-decoration: none;
        color: white; }
