.seccion-principal{    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-image:url(../../assets/img/portada3.jpg);
    background-size: cover;
    height: 38.75rem;;
    background-position: center;
    div{
        p{
            color: black;
            width: 25rem;
            margin: 5rem;
            font-family: "Poppins", sans-serif;
            font-size: 13pt;
            font-weight: light;
        }
    }
}

.contenerdor-cards {
    display: flex;
    width:100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    .card {
        display: flex;
        width: 15rem;
        height: 28rem;
        background-color: rgb(230, 246, 252);
        border-radius: .3125rem;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        box-shadow: 2px 2px 5px rgb(176, 176, 176);
        
        .card-img{
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-info{
            h3{
                color: rgb(18, 67, 97);
                font-family: "Poppins", sans-serif;
                font-size: 12pt;
                text-align: center;
            }

            p{
                color: black;
                font-family: "Poppins", sans-serif;
                font-size: 9pt;
                font-weight: light;
                text-align: justify;
            }

            button{
                border-radius: 0.35rem;
                padding: .5rem;
                color: white;
                background-color: rgb(18, 67, 97);
                &:hover,
                &:focus {
                background-color: goldenrod;
                transform: translate(0.25rem);
                }
            }
        }
    }
}