.seccion-principal{    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-image: url(../assets/img/portada3.jpg);
    background-size: cover;
    height: 38.75rem;;
    background-position: center;
        div{
            p{
                color: black;
                width: 25rem;
                margin: 5rem;
                font-family: "Poppins", sans-serif;
                font-size: 13pt;
                font-weight: light;
            }
        }
    
}
