
@mixin font-style($weight, $size: 1rem, $color: black) {
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
    color: $color;
    font-size: $size;
}

@mixin flexbox($direction: row, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin link-style($color:white) {
    text-decoration: none;
    color: $color;
    &:hover,
    &:focus{
        color: goldenrod;
    }
}