

h1{
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: rgb(18, 67, 97);
    text-align: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: #124361;
    text-align: center; 
}
