@media (max-width: 320px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .flex-container div a img{
        width: 65%;
    }
    
    
    .flex-container .navbar{
        display: flex;
        gap: 8px; 
        flex-direction: column;
        align-items: center;
    }
    
    
    .navbar li a{
        text-decoration: none;
        color:white;
        font-family: "Poppins", sans-serif;
        font-weight: medium;
        font-size: 6pt;
        flex-direction: column;
        align-items: center;
    }

    .seccion-principal{    
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        background-image:url(../../assets/img/portada3.jpg);
        background-size: cover;
        height: 1rem;;
        background-position: center;
        div{
            p{
                color: black;
                width: 25rem;
                margin: 5rem;
                font-family: "Poppins", sans-serif;
                font-size: 8pt;
                font-weight: light;
            }
        }
    }
}